<%- include header.ejs %>
    <section>
      <form id="myform" action="/v1/sc/dashboard" method="POST">
        <div class="container">
            <div class="row">
              <div class="col-lg-12 wrap">
                <p>Username is <strong>aman</strong> and password is <strong>musicstar</strong><br><strong>Login</strong></p>
                <div class="box" style="float:left">
                  <div class="container-1">
                      <input class="search" type="input" id="search1" placeholder="Username" name="username"/>
                  </div>
                </div>
                <div class="box" style="float:left">
                  <div class="container-1">
                      <input class="search" type="password" id="search2" placeholder="Password" name="password"/>
                  </div>
                </div>
                <button type="submit" id="submitbtn" class="btn btn-success"/>Login</button>

              </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                </div>
            </div>
        </div>
      </form>
    </section>
<%- include footer.ejs %>
