<%- include header.ejs %>
    <section>
      <form id="myform" action="/v1/sc/jsonoutput" method="POST">
        <div class="container">
            <div class="row">
              <p>Submit the JSON object and JSON patch here<br></p>
              <div class="col-lg-6 wrap">
                <div class="box" style="float:left">
                  <strong>JSON Object</strong>
                  <div class="container-1">
                      <textarea rows="5" cols="50" class="search" id="search1" placeholder="JSON Object..." name="json_object" style="resize: none"/>
                        {
                          "baz": "qux",
                          "foo": "bar"
                        }
                      </textarea>
                  </div>
              </div>
            </div>
            <div class="col-lg-6 wrap">
              <div class="box" style="float:left">
                <strong>JSON Patch</strong>
                <div class="container-1">
                    <textarea rows="5" cols="50" class="search" id="search2" placeholder="JSON Patch..." name="json_patch" style="resize: none"/>
                      [
                        { "op": "replace", "path": "/baz", "value": "boo" },
                        { "op": "add", "path": "/hello", "value": ["world"] },
                        { "op": "remove", "path": "/foo"}
                      ]
                    </textarea>
                </div>
              </div><br><br><br><br><br><br><br><br>
            </div>
        </div>
        <button type="submit" id="submitbtn" class="btn btn-success"/>Submit</button>
      </form>
    </section>
<%- include footer.ejs %>
